.test0{

    color: cyan;
}
.test1{

    border-radius: 999em;
    height: 300px;
    width: 300px;	
    margin: 0;
}

.test2{

    color: brown;
}
.test3{

    color: cornflowerblue;
}
ul.test4{

    list-style-type: square;
}